*{
    margin: 0;
    padding:0;
    box-sizing: inherit;
}
html{
    font-size: 60%;
}
body{
    font-family: lato;
    padding: 1em;
    box-sizing: border-box;
    background: linear-gradient(to right bottom, #97979709, rgba(128, 128, 128, 0.055));
    background-repeat: no-repeat;
}
.header-section{
    background-color: rgba(255, 255, 255, 0.384);
    margin-top: 3em;
    margin: 10em 5em;
   position: relative;
   width: auto;
   height: 50vh;
}
.header-section-content{
    display: block;
    text-shadow: .1em .9em 1.2em rgba(0, 0, 0, 0.404);
    text-align: center;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
    padding-top: 3em;
    letter-spacing: .7em;
    color: teal;
    transition:.6s ease;
    backface-visibility: hidden;
}
.header-section-content:hover{
    transform: skewX(22deg);
}
.account{
    position: absolute;
    top:8em;
    right:2em;
   margin-right: 2em;
    display: inline-block;
}
.sign-up{
    display: inline-block;
    margin: 1.5em .6em;
    text-decoration: none;
    color: whitesmoke;
    background:rgba(10, 10, 105, 0.733);
    padding: 1em 1em;
    border-radius: .9em;
    font-size: 2em;
    box-shadow: 0 .5em 1em 0 rgba(0, 0, 0, 0.411);
    text-transform: capitalize;
    font-weight: 700;
}
.sign-in{
    display: inline-block;
    margin: 1.5em .6em;
    text-decoration: none;
    padding: 1em 1.5em;
    font-size: 2em;
    text-transform: capitalize;
    font-weight: 700;
    text-shadow: .1em .9em 1.2em rgba(0, 0, 0, 0.37);
}
.header-navigation_list{
    margin-top: 12em;
    position: relative;
    background-color: whitesmoke;
}
.header-list{
        font-family: inherit;
        /* -ms-flex-align: center; */
        text-align-last: center;
        transition: all .6s ease;
}
.header-list:hover{
background: rgb(218, 201, 201);
}
.header-listing{
    display: inline-block;
    list-style: none;
    margin: 2em 4em;

}
.header-listing__link{
    display: inline-block;
    text-decoration: none;
    padding: 1em 1.5em;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: .1em .5em 2em rgba(0, 0, 0, 0.699);
    transition: all .8s ease;
}
.header-listing__link:hover{
    background: rgba(135, 207, 235, 0.705);
    color: whitesmoke;
    border-radius: .7em;
}