*{
    margin:0;
    padding:auto;
    box-sizing: inherit;
} 


html{
    font-size: 60%;
}
body{
    font-family: "lato";
    box-sizing: border-box;
}
.section-main{
        position: relative;
    }
 .main-content{
     color:rgb(192, 186, 184);
     position: absolute;
     top:-49.5em;
     left: 45%;
     
 }  
 .main-content__profile-section {
     position: absolute;
     top: -20%;
     width:20em;
     height: 20%;
     color: rgb(189, 184, 184);
 }
 .main-content__profile-photo{
     width:15em;
     height: 15em;
     border-radius: 50%;
     display: block;
     box-shadow: .3em .6em 1.2em 0 rgba(0, 0, 0, 0.486);
 }
.form-display{
    /*background-color: orangered;*/
    display: table;
    position: absolute;
    top: 20em;
    left: -30em;
}
.first-section{
    display: table-cell;
   padding-right: 28em;
}
.second-section{
   display: table-cell;
}
.full_name{
    display: block;
   text-transform: uppercase;
   padding:.5em .1em;
   color: black;
   font-size: 2em;
   font-weight:700;
} 
.fllName{
    display: block;
    width:20em;
    height:3em;
    border-radius: .5em;
    border:none;
    margin-bottom:1em;
}
.regNo{
    display: block;
    text-transform: uppercase;
    padding:.5em .1em;
    color: black;
    font-size:1.5em;
    font-weight:700;
}
.reg-No{
    display: block;
    width:20em;
    height:3em;
    border-radius: .5em;
    border:none;
    margin-bottom:1em;
}
.yeaofStudy{
    display: block;
    text-transform: uppercase;
    padding:.5em .1em;
    color: black;
    font-size: 1.5em;
    font-weight:700;
}
.year-of-study{
    display: block;
    width:20em;
    height:3em;
    border-radius: .5em;
    border:none;
    margin-bottom:1em;
}
.totalBilled{
    display: block;
    text-transform: uppercase;
    padding:.5em .1em;
    color: black;
    font-size: 1.5em;
    font-weight:700;
}
.total-Billed{
    display: block;
    width:20em;
    height:3em;
    border-radius: .5em;
    border:none;
    margin-bottom:1em;
}
.fee-Balance{
    display: block;
    text-transform: uppercase;
    padding:.5em .1em;
    color: black;
    font-size: 2em;
    font-weight:700;
}
.feeBalance{
    display: block;
    width:20em;
    height:3em;
    border-radius: .5em;
    border:none;
    margin-bottom:1em;
}
.name-University{
    display: block;
    text-transform: uppercase;
    padding:.5em .1em;
    color: black;
    font-size: 2em;
    font-weight:700;
}
.uni-Name{
    display: block;
    width:20em;
    height:3em;
    border-radius: .5em;
    border:none;
    margin-bottom:1em;
}